services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8888:8080"
    env_file:
      - ./backend/.env
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - ts6-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: <enter your backend URL here>
        VITE_TS_INVID: <enter your TeamSpeak Invid here>
    ports:
      - "3001:80"
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - ts6-network

networks:
  ts6-network:
    driver: bridge
